@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/*** Variables ***/
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #7e7c7c;
  --primary-color: #000000;
  --secondary-color: #000000;
  --primary-shadow: #000000;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

/*** Variables end ****/

/*** logo page css ***/

.hi {
  width: 50px;
  mix-blend-mode: color;
}

.container p {
  font-size: 50px;
}

.container {
  position: relative;
  background-color: #000000;
  height: 100%;
}

.logo-container {
  text-align: center;
}

.logopage {
  max-width: 50rem;
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  color: #ffffff;
}

.text-left,
.text-right {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 5s ease, transform 3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-left {
  text-align: right;
  transform: translateX(-100%);
}

.text-right {
  transform: translateX(100%);
}

body.loaded .text-left {
  transform: translateX(-20%);
  opacity: 1;
}

body.loaded .text-right {
  transform: translateX(20%);
  opacity: 1;
}

/* logo page css ends */

.logo {
  width: 100px;
}

html {
  scroll-behavior: smooth;
}
 
/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

/* section {
 max-width: 1100px;
  margin: auto;
} */

/* CSS Resets end */

/* Hero section */
.hero {
  padding-top: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  padding-bottom: 86px;
}

.hero img {
  height: 37.5rem;
  width: 30.5rem;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}
/* Hero section ends */

/* More about */
.more-about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}
/* More about ends */

/* Skills section */
.skills {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 6.25rem;
  height: 6.25rem;
}
/* Skills section ends */

/* Projects section */
.projects {
  background-color: var(--bg-color);
  padding: 100px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

/* Projects section ends */



/* Social buttons */
.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}

.socicon {
  width: 3rem;
  height: 3rem;
}
/* Social button ends */


/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */

/* Media Queries */
@media screen and (max-width: 768px) {
  .hero {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .bio {
    max-width: 20rem;
  }

  .skills {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .projects {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .hero {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .bio {
    max-width: 18rem;
  }

  .more-about {
    padding: 0.5rem;
  }

  .skills {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .projects {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .logopage {
    max-width: 100%; /* Adjust max-width for smaller screens */
  }
}
/* Media Queries end */